{% extends 'posApp/base.html' %} {% block pageContent %}
<head>
  <style>
    input,
    textarea {
      border-radius: 2px;
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card py-2">
  <div class="container mt-5" style="border-radius: 11px; max-width: 40rem; border: 3.2px solid black; padding:2rem;">
    <h4 align="center" style="padding: 2rem">Update Produk</h4>
    <div class="col-sm-8 offset-2">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <button type="submit" class="btn btn-warning">Update</button>
      </form>
    </div>
  </div>

  {% endblock pageContent %}
</body>
